<!DOCTYPE html>
<html>
<head>
  <title>Blank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/nav' %>

<% if params[:id] != nil %>
  <% @url = '/user/' + params[:id] %>
  <% if current_page?(@url) %>
    <img src="/blank_logo.jpg" class="profile-banner">
    <div class="row">
      <div class="col-sm-12" style="background-color: white;">
        <div class="container">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-6">
            <div class="col-sm-2" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                            <h6 style="color: #55acee; font-size: 150%; opacity: 1.2;">16</h6></div>
            <div class="col-sm-2" style="font-size: 80%; opacity: 0.7;">FANS<br>
                            <h6 style="color: #55acee; font-size: 150%; opacity: 1.2;">15</h6></div>
          <div class="col-sm-8" style="text-align: right; margin-top: 5px;"><a href="/users/edit"><li type="button" class="btn btn-default" style="color: grey; opacity: 0.8; font-weight: bold;">EDIT PROFILE</li></a></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="container">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
  <%= yield %>
</div>

</body>
</html>
